<% @posts.each do |post| %>
<div class="col-md-2">
	<img src="<%= post.image %>" alt="" class="img-responsive">
	<div class="row"><p class="text-center"><%= post.description %></p></div>
	<div class="row"><small class="text-left"><%= post.category.name %></small></div>
	<div class="row">
		<% post.comments.each do |comment| %>
		<small><%= comment.comment_text%></small>
		<% end %>
	</div>
</div>
<% end %>